fastapi
uvicorn[standard]
async-exit-stack
async-generator
python-multipart
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
psycopg2
databases
asyncpg
pydantic[email]
python-multipart
pytest
requests